/* Webfont: Geom-Semi */@font-face {
    font-family: 'Geom';
    src: url('Geom-Semi.woff2') format('woff2'), /* Modern Browsers */
         url('Geom-Semi.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

