/* Webfont: Geom-Ultra */@font-face {
    font-family: 'GeomUltra';
    src: url('Geom-Ultra.woff2') format('woff2'), /* Modern Browsers */
         url('Geom-Ultra.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

